<header>
  <nav id="nav-bar">
    <a href="/" id="logo">WDE</a>
    <ul id="links-container">
      <li>
        <a href="">Shop</a>
      </li>
      <li>
        <a href="">Cart<span id="span-cnt">0</span></a>
      </li>
      <li>
        <a href="">Signup</a>
      </li>
      <li>
        <a href="">Login</a>
      </li>
      <li>
        <a href="">Orders</a>
      </li>
      <li>
        <a href="">Manage Products</a>
      </li>
      <li>
        <a href="">Manage Orders</a>
      </li>
      <li>
        <form action="">
          <button class="btn-empty">Logout</button>
        </form>
      </li>
    </ul>
  </nav>
  <hr />
</header>
