.error-block {
  background-color: var(--clr-red-100);
  width: 50%;
  margin: auto;
  margin-bottom: 1rem;
  border-radius: 6px;
  div {
    padding: 1rem 1rem;
  }
  h3 {
    color: var(--clr-red-300);
    margin: 0;
    padding: 2rem 2rem;
    text-transform: uppercase;
  }
  p {
    color: var(--clr-red-250);
    margin: 0;
    padding: 3rem 2rem;
    padding-top: 0;
  }
}
.form {
  width: 40%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--clr-black-850);
  margin: 3rem auto;
  border-radius: 7px;
  div {
    padding: 1.5rem 1.9rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    label {
      color: var(--clr-white-150);
      margin: 0.5rem;
      font-size: 1.3rem;
    }
    input {
      margin: 0.2rem;
      height: 2rem;
      font-size: 1.5rem;
    }
  }
  .signup-break {
    width: 96.5%;
    margin: auto;
  }
}
@media (max-width: 767px) {
  .form {
    width: 80%;
  }
}
